<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="#home" id="logo" class="nav-logo">
                <br/>
                <br/>
                <br/>
                <h1 style="width: 379; height: 205; font-family: loveloline_bold; font-size: 100pt">
                    MAS 2
                </h1>
                <br/>
                <br/>
                <br/>
                <!-- img src="http://imageshack.us/a/img854/3897/jsom.png"-->
            </a>

            <div id="social-stream">
                <ul id="social-stream-items">

                    <li class="featured">
                        <div class="icon color"><i class="icon-music"></i></div>
                        <div class="title"><h3><a href="">Cruzando Fronteras!</a></h3></div>
                        <div id="music-player"></div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_38.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="https://vimeo.com/81954922" data-gal="prettyPhoto">Te quiero con Locura!</a></h3>
                        </div>
                        <a href="https://vimeo.com/81954922" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_01.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="http://www.youtube.com/watch?v=NEjrjBFSboU" data-gal="prettyPhoto">Deseos!</a></h3>
                        </div>
                        <a href="http://www.youtube.com/watch?v=NEjrjBFSboU" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_13.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-twitter"></i></div>
                        <div class="tweet"></div>
                    </li>

                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="http://www.youtube.com/watch?v=phkKotFlbcs?iframe=true" data-gal="prettyPhoto">Aprendí a quererte!</a></h3>
                        </div>
                        <a href="http://www.youtube.com/watch?v=phkKotFlbcs?iframe=true" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_08.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <!-- Segunda Columna -->

                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="https://vimeo.com/81350075" data-gal="prettyPhoto">Corazón sin Trono!</a></h3>
                        </div>
                        <a href="https://vimeo.com/81350075" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_07.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_28.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>


                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="https://vimeo.com/81350074" data-gal="prettyPhoto">Sin Aliento!</a></h3>
                        </div>
                        <a href="https://vimeo.com/81350074" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_36.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_06.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li class="featured">
                        <div class="icon"><i class="icon-expand"></i></div>
                        <div class="title">
                            <h3><a href="http://www.youtube.com/watch?v=pIYgMdG2wX0" data-gal="prettyPhoto">No Pudo Ser - Yoyi Lopez!</a></h3>
                        </div>
                        <a href="http://www.youtube.com/watch?v=pIYgMdG2wX0" data-gal="prettyPhoto">
                            <img src="{{baseUrl}}/img/gallery/duo_yoyi.jpg" alt="" style="width: 350px; height: 350px">
                        </a>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_21.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <!-- Tercer Columna -->

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_03.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_30.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_15.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_19.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_20.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>

                    <li>
                        <div class="icon color"><i class="icon-instagram"></i></div>
                        <div class="instagram">
                            <img src="{{baseUrl}}/img/gallery/duo_29.jpg" alt="" style="width: 612px;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="bottom-home"></div>