<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="section-title">El Dúo</h1>
            <p class="section-desc">
                Un duo Pop formado en el año 2010 por Karol Cowan Junco,
                nacionalidad Cubana y por Juan Manuel Sánchez,
                nacionalidad Argentina.
                </p>

                <br/><br/><br/>
                <a href="" class="btn btn-dark btn-icon open-overlay" data-overlay-id="theband-overlay">
                    <i class="icon-file-text-alt"></i><span>Más acerca de nosotros</span>
                </a>
            </p>
        </div>
        <img src="http://imageshack.us/a/img42/1092/yz85.png" alt="" id="bandImage" class="col-sm-8"  />
    </div>
</div>
<div id="bottom-theband" class="bg-color2"></div>
