<!-- Begin About Band Page Overlay -->
<div class="page-overlay" id="theband-overlay">
    <i class="icon-remove-circle close-overlay"></i>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="center">Duo Mas 2!</h1>

                <div class="band-elem col-sm-4">
                    <div class="band-elem-img">
                        <img src="{{baseUrl}}/img/karol_solo.jpg" alt="" />
                        <h3>Karol Cowan<span> - Líder Vocal</span></h3>
                    </div>
                    <div class="band-elem-description">
                        <p>
                            Karol Cowan junco nació el 21 de junio de 1984 en la provincia de Camagüey Cuba, hijo de Delfina Junco Bustillo y Lorenzo Cowan Livines.
                            <br/>
                            Desde muy temprana edad tubo inclinación por el arte ya que sus padres eran artistas, Lorenzo Cowan músico graduado del conservatorio en Cuba especializando en la flauta traversa y en saxofón, vocalista, Delfina Junco también vocalista.
                            <br/>
                            Karol Cowan a pesar de no estudiar arte en ningunas de sus manifestaciones, comienza su carrera artística a los 18 años como bailarín en la compañía de danza “Ciclón del Caribe” dirigido por el coreógrafo y director Carlos Ríos Carmenates en la provincia de Camagüey, Cuba
                            <br/>
                            Donde continúa trabajando y superándose siempre como bailarín en varios espectáculos del polo turístico Varadero, Cuba
                            <br/>
                            En el año 2008 decide ir a vivir a la Argentina en búsqueda de superación artística, para estudiar danza contemporánea y música,
                            <br/>
                            Cuando adiciona para la beca de comedia musical en la Fundación Julio Bocca - Ricky Pashkus, teniendo como asignaturas danza clásica, elongación, integración, danza jazz, canto, teatro.
                            <br/>
                            Empieza a trabajar en varios espectáculos en Buenos Aires, Argentina, Teatro de revistas, como obras “Habana mía Concerté”,” EXOTICA”, giras nacionales con el cantante internacional José Luis Rodríguez “EL PUMA”, haciendo bolos en televisión, como en el series, Casi Ángeles, Enséñame a vivir, y Los Únicos.
                            <br/>
                            A finales del año 2009 comienza a cantar en la orquesta De Salsa de la Timba Son, Rumba Iya. 2010 arranca a componer varias canciones, convirtiéndose en cantautor, llevando a cabo la grabación del disco “Cruzando Fronteras” con el Dúo “Mas2” K&J hasta la actualidad.
                        </p>
                    </div>
                </div>


                <div class="band-elem col-sm-4">
                    <div class="band-elem-img">
                        <img src="{{baseUrl}}/img/duo.jpg" alt="" />
                        <h3>Duo Mas2<span> - Duo Vocal</span></h3>
                    </div>
                    <div class="band-elem-description">
                        <p>  Todo comienza por aquella época en el mes de abril cuando Karol y Juan son convocados a participar como bailarines en el espectáculo de Revista “Habana Mía Concert”. Allí los dos formaron una química inmediata y la amistad se hizo cada vez mas fuerte.

                            Por aquel entonces, Karol, había compuesto ya algunas canciones, dándole el su toque de distinción latina. Pero el sabía muy bien que esas canciones no podían quedar en el olvido, debían conocerse. Fue en ese momento cuando le propone a Juan, si quería ser participe de escribir musicalmente sus canciones.

                            El nombre “Cruzando Fronteras” surgió de una manera natural, ya que el mismo estaba compuesto por canciones de diferentes géneros formando así, una fusión de estilos, como son: boleros, balada pop, cha cha cha, merengue, salsa y bachata.

                            El nombre “Mas2” apareció también casi sin pensarlo. Por ser un dúo y por creer que juntos eran mas que uno.

                            El 7 de Noviembre del 2011 el dúo arranca en el estudio de Yoyi López a grabar. Contando con la participación de músicos prestigiosos de país como (Gabriel Cuman, Patricio Raffo, Iván Exequiel Barrios, Yoyi López, Jean Paul Berthy)

                            Después de algunos meses sin descanso, decidieron grabar “Deseos”, “Corazón sin Trono” y “Sin Aliento”.

                            En estos momentos, nos encontramos en el auge de nuestra carrera profesional, creando más temas para nuestro próximo disco...
                        </p>
                    </div>
                </div>

                <div class="band-elem col-sm-4">
                    <div class="band-elem-img">
                        <img src="{{baseUrl}}/img/juanpiano_solo.jpg" alt="" />
                        <h3>Juan Manuel Sanchez<span> - Líder Vocal</span></h3>
                    </div>
                    <div class="band-elem-description">
                        <p> Nació el 1 de febrero de 1987 en la capital federal Argentina, en la provincia de Buenos Aires.
                            <br/>
                            Comenzó sus estudios musicales a los 7 años, cuando a la misma vez cursaba el 2 grado de la escuela primaria. Estos estudios musicales consistían en audio perceptiva, piano, lectura y escritura de la música (escuela de música coral, en el barrio de Belgrano). A los 12 años comienza también con la guitarra y la batería.
                            <br/>
                            Durante estos años participo de varias formaciones musicales, desde el coro del colegio, la banda para tocar en las misas dictadas por el colegio, como también bandas de rock (el boceto es el nombre de la banda de rock de la cual formo parte como baterista), reggae, etc.
                            <br/>
                            Finalizando ya sus estudios secundarios (año 2005), rinde el ingreso al Conservatorio Superior de Música Manuel de Falla, ingresando al mismo con la mejor calificación (60/60). Allí es invitado a participar de un sexteto de tango que necesitaba un pianista, estaba en un aula tocando Adiós Nonino, del maestro Astro Piazzolla, y los dos bandoneonístas, compañeros de Juan en algunas materias, le tocan la puerta y le hacen esta propuesta que obviamente acepto, siendo el tango la música que mas le gusta.
                            <br/>
                            En el año 2006 comienza con clases de baile también para sumar a las del conservatorio y ser un artista mas completo. Tomo clases de salsa y ritmos latinos, tango y también de danza jazz.
                            <br/>
                            En el año 2010 es llamado para formar parte de una revista latina, en donde conoce y se hace amigo de Karol Cowan. Y allí comienza la historia de este dúo. </p>
                    </div>

                </div>

                <h1 class="center">Albumes</h1>

                <div class="album">
                    <div class="album-img col-sm-4">
                        <div class="album-img-wrap">
                            <div class="title">Nuevo</div>
                            <img src="{{baseUrl}}/music/karol.cowan/albums/cruzando_fronteras/masdos_cd_cover.jpg" alt="" />
                        </div>
                    </div>
                    <div class="album-info col-sm-8">
                        <h3 class="color">Cruzando Fronteras<br/><span>2013</span></h3>
                        <p>Nuestro primer álbum... Cruzando Fronteras</p>
                        <ol>
                            <li><span>Deseos</span> <span class="time">02:20</span></li>
                            <li class="darker"><span>Sin Aliento</span> <span class="time">03:05</span></li>
                            <li><span>No Pudo Ser</span> <span class="time">02:45</span></li>
                            <li class="darker"><span>Corazón Sin Trono</span> <span class="time">04:00</span></li>
                            <li><span>Aprendí a Quererte</span> <span class="time">02:15</span></li>
                            <li class="darker"><span>Te Quiero con Locura</span> <span class="time">03:00</span></li>
                            <li><span>Dímelo</span> <span class="time">03:35</span></li>
                            <li class="darker"><span>Tu y Yo</span> <span class="time">04:20</span></li>
                            <li><span>Necesidad de Amor</span> <span class="time">02:50</span></li>
                            <li class="darker"><span>Diluvio</span> <span class="time">02:50</span></li>
                            <li><span>Esperar me hace Daño</span> <span class="time">02:50</span></li>
                            <li class="darker"><span>Por una mirada</span> <span class="time">02:50</span></li>
                        </ol>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- End About Band Page Overlay -->