<i class="icon-remove-circle close-overlay"></i>
<div class="container">
<div class="row">
<div class="col-sm-12">
    <h1 class="center">Last News</h1>
</div>
<div class="col-sm-7">
    <div id="news-img-wrap">
        <div class="date"></div>
        <div class="title"><h3 class="color"></h3></div>
    </div>
    <div id="news-txt">

    </div>
</div>
<div class="col-sm-4 col-sm-offset-1">
    <h3 class="color"><i class="icon-file-text-alt"></i> Other News:</h3>
    <div class="other-news-wrap">
        <ul id="other-news">
            <li data-news-details='[{
                                            "date":"30<br/>Sep",
                                            "title":"Suscipit lectus",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend."
                                                },
                                                {
                                                    "img":"http://placehold.it/281x239"
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">30<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Suscipit lectus</h4>
                    <p>Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus.</p>
                </div>
            </li>
            <li data-news-details='[{
                                            "date":"29<br/>Sep",
                                            "title":"Suscipit lectus",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend."
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">29<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Metus sit amet lorem pellentesque, et suscipit lectus tempus aliquam dui neque venenatis.</p>
                </div>
            </li>
            <li data-news-details='[{
                                            "date":"28<br/>Sep",
                                            "title":"Lorem ipsum dolor sit amet",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend.",
                                                    "img":"http://placehold.it/281x239"
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">28<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Metus sit amet lorem pellentesque, et suscipit lectus tempus aliquam dui neque venenatis.</p>
                </div>
            </li>
            <li class="disabled"
                data-news-details='[{
                                            "date":"27<br/>Sep",
                                            "title":"Lorem ipsum dolor sit amet",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend.",
                                                    "img":"http://placehold.it/281x239"
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">27<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Metus sit amet lorem pellentesque, et suscipit lectus tempus aliquam dui neque venenatis.</p>
                </div>
            </li>
            <li class="disabled"
                data-news-details='[{
                                            "date":"26<br/>Sep",
                                            "title":"Lorem ipsum dolor sit amet",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend.",
                                                    "img":"news_img2.jpg"
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">26<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Metus sit amet lorem pellentesque, et suscipit lectus tempus aliquam dui neque venenatis.</p>
                </div>
            </li>
            <li class="disabled"
                data-news-details='[{
                                            "date":"25<br/>Sep",
                                            "title":"Lorem ipsum dolor sit amet",
                                            "img":"http://placehold.it/673x444",
                                            "txt":[
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.<br/><br/>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "quote":"Vivamos odio augue, <span>aliquet eget</span> hendrerit nec, tempus sit amet lacus. Nunc suscipit nisl eu elit <span>mollis sit amet</span> fringilla elit eleifend.",
                                                    "img":"news_img2.jpg"
                                                },
                                                {
                                                    "txt":"Fusce imperdiet metus sit amet lorem pellentesque, et suscipit lectus tempus. Aliquam dui neque, venenatis a convallis eu, sodales vitae justo. Donec nec neque purus. Sed sed nisi vestibulum, mollis ligula vel sem nulla faucibus ante.</p><p>Morbi feugiat urna quis nulla sodales molestie ac vitae elit. Morbi risus lectus, volutpat nec sagittis vitae, mollis et nisi. Curabitur vel neque vitae diam dapibus semper a sit amet urna. Nullam cursus velit justo. Nullam euismod, arcu sit amet semper sagittis, sem nulla faucibus ante, vitae adipiscing mi metus faucibus sapien. Nulla dictum eget metus et gravida. Donec vulputate mi ac facilisis fringilla. Proin scelerisque lorem dictum tincidunt iaculis."
                                                },
                                                {
                                                    "title":"Watch the best moments from last night concert",
                                                    "txt":"Example of Vimeo embed video",
                                                    "vimeo":"http://player.vimeo.com/video/74972181"
                                                }]
                                    }]'>
                <div class="other-news-img-wrap">
                    <div class="date">25<br/>Sep</div>
                    <img src="http://placehold.it/146x146" alt="" />
                </div>
                <div class="other-news-details">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Metus sit amet lorem pellentesque, et suscipit lectus tempus aliquam dui neque venenatis.</p>
                </div>
            </li>
        </ul>
        <div class="center"><button id="load-more-btn" class="btn btn-dark2">Load More</button></div>
    </div>
</div>
</div>
</div>
<div class="loading"></div>
<div class="progress"></div>