<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="section-title center">Beat Store</h1>
        </div>
    </div>
</div>

<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="http://oi42.tinypic.com/ou8djm.jpg" alt="" />
            <h3 class="color">Beat - New Album</h3>
            <h2>$29</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
        <li>
            <img src="http://oi42.tinypic.com/ou8djm.jpg" alt="" />
            <h3 class="color">Beat T-Shirt - White Version</h3>
            <h2>$10</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
        <li>
            <img src="http://placehold.it/504x428" alt="" />
            <h3 class="color">Beat Mug</h3>
            <h2>$7</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
        <li>
            <img src="http://oi42.tinypic.com/ou8djm.jpg" alt="" />
            <h3 class="color">Beat - First Album</h3>
            <h2>$19</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
        <li>
            <img src="http://oi42.tinypic.com/ou8djm.jpg" alt="" />
            <h3 class="color">Beat - DVD</h3>
            <h2>$39</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
        <li>
            <img src="http://oi42.tinypic.com/ou8djm.jpg" alt="" />
            <h3 class="color">Beat T-Shirt - Dark Version</h3>
            <h2>$10</h2>
            <a href="#" class="btn btn-default btn-icon"><i class="icon-shopping-cart"></i><span>Buy Now!</span></a>
        </li>
    </ul>
</div>