    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#home" class="nav-logo">
                    <label style="height: 51; font-family: loveloline_bold; font-size: 20pt">
                        MAS 2
                    </label>
                </a>

                <nav id="nav"><!-- BEGIN MAIN MENU -->
                    <ul>
                        <li><a href="#theband">El Duo</a></li>
                        <li><a href="#concerts">Conciertos</a></li>
                        <li><a href="#gallery">Gallería</a></li>
                        <!-- li><a href="#store">Store</a></li -->
                        <li><a href="#contacts">Contáctenos</a></li>
                        <li><a href="#comments">Comentarios</a></li>
                    </ul>
                </nav><!-- END MAIN MENU -->

                <ul class="sn-icons"><!-- BEGIN SOCIAL ICONS -->
                    <li><a href="http://www.facebook.com/mas.dos.kj.page" target="_blank"><i class="icon-facebook-sign"></i></a></li>
                    <li><a href="https://twitter.com/mas_2kj" target="_blank"><i class="icon-twitter-sign"></i></a></li>
                </ul><!-- END SOCIAL ICONS -->
            </div>
        </div>
    </div>