<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="section-title center">Gallery</h1>
        </div>
    </div>
</div>
<div class="gallery-scroller">
    <ul>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_01.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_01.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_02.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_02.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_03.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_03.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_04.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_04.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_05.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_05.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_06.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_06.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_07.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_07.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_08.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_08.jpg" alt="" />
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_17.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_17.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_10.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_10.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_11.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_11.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_12.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_12.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_13.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_13.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_14.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_14.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_15.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_15.jpg" alt="" />
        </li>
        <li>
            <a href="{{baseUrl}}/img/gallery/duo_16.jpg" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><span></span><i class="hover-icon"></i></a>
            <img src="{{baseUrl}}/img/gallery/duo_16.jpg" alt="" />
        </li>
    </ul>
</div>