<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="section-title center">Contáctenos</h1>

            <div id="form-wrap" class="col-sm-5 center">
                <form id="form-contact" method="post" action="#" class="bg-color1">
                    <input type="text" placeholder="Nombre" name="contact_name" id="contact_name" />
                    <input type="email" placeholder="Email" name="contact_email" id="contact_email" />
                    <input type="text" placeholder="Asunto" name="contact_subject" id="contact_subject" />
                    <textarea cols="6" rows="4" placeholder="Mensaje" name="contact_message" id="contact_message"></textarea>
                    <a href="" id="contact_send" class="btn btn-dark btn-icon"><i class="icon-envelope"></i><span>Enviar</span></a>
                </form>
            </div>
        </div>
    </div>
</div>