<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34418709-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- MetaTags -->
<meta name="keywords" content="mas dos, masdos, mas2, mas2kj, mas2jk, duo, vocalistas, dinamico, musica, musicos, cantante, compositores, pop, balada, bolero, salsa, cha cha cha, latino">
<meta name="description" content="Grupo de cantantes pop llamado mas2kj">
<meta name="author" content="Veronica Nisenbaum">
<meta name="robots" content="noindex">
<meta http-equiv="charset" content="UTF-8">

<!-- Facebook MetaTags -->
<meta property="fb:admins" content="725102015, 100002962043845" />
<meta property="og:title" content="Mas2"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.mas2kj.com.ar" />
<meta property="og:image" content="http://imageshack.us/a/img42/1092/yz85.png">
<meta property="og:site_name" content="Mas2kj website"/>
<meta property="og:description" content="Sitio Web Oficial del duo Mas2. Un duo Pop formado en el año 2010 por Karol Cowan Junco, nacionalidad Cubana y por Juan Manuel Sánchez, nacionalidad Argentina."/>
<link rel="image_src" href=http://img24.imageshack.us/img24/48/wdb1.png />

<!-- Update your html tag to include the itemscope and itemtype attributes -->
<html itemscope itemtype="http://schema.org/Event">
<!-- Add the following three tags inside head -->
<meta itemprop="name" content="Mas2KJ website">
<meta itemprop="description" content="Sitio Web Oficial del duo Mas2">
<meta itemprop="image" content="http://img24.imageshack.us/img24/48/wdb1.png">